<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et corrupti nam exercitationem a nostrum debitis provident minima recusandae tempore, rerum fugit voluptatem? Tenetur voluptatem ratione atque nostrum velit beatae iure.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quis deserunt facilis cumque, distinctio neque quos soluta cum aut, sit natus architecto iste saepe nisi minus, quam id! A, autem.</p>
</body>
</html>